/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/


body {
  background-image: url("img/bg.jpg");
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  border: 3px solid #ffd24a;
  border-radius: 5px;
  box-shadow: 1px 3px 5px ;
  margin-bottom: 40px;
  margin: 40px auto;
}

section {
  border-bottom: 4px solid #dddddd;
  padding-top: 5px;
  padding-bottom: 35px;
}

ul {
  padding-left: 20px;
}

li {
  font-weight: 600;
}

h2, h3 {
  color: #1fabe5;
}

hr {
  height: 2px;
  color: #eee;
}

.main_navigation {
  margin: 20px 0;
}

.main_navigation a {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.main_navigation a:visited, a:link, a:hover, a:active {
  color: white;
}

p a:visited, a:link, a:hover, a:active {
  color: #1fabe5;
}

#logo img {
  height: 50px;
  width: auto;
}

#site_header {
  background-color: #ff8523;
  padding: 20px;
}

#page_content {
  background-color: white;
  padding: 20px;
}

table {
  border-collapse: collapse;
}

thead td {
  border: 1px solid #046c97;
  background-color: #1fabe5;
  color: white;
}

td {
  border: 1px solid #1fabe5;
  padding: 10px;
}

img {
  width: 50px;
}

form {
  border-radius: 5px;
  padding: 20px;
  background-color: #eee;
  font-weight: 600;
}

#submit_button {
  border-radius: 5px;
  border: 0px;
  padding: 15px 20px;
  background-color: #1fabe5;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

input[type=text] {
  padding: 12px 20px;
}

label[for="last_name"] {
  padding-left: 20px;
}

.city_container {
  padding: 30px 0 20px;
}

#bio {
  padding: 10px;
  margin: 10px 0 15px;
  border: 1px solid #1fabe5;
  width: 700px;
  height: 180px;
  font-size: 16px;
}

label[for="bio"] {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.name {
  border-radius: 5px;
  background-color: #ff8523;
  color: white;
  padding: 20px;
}
